 .banner {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     text-align: center;
 }

 .header-icon {
     font-size: 200px;
     margin-bottom: 10px;
 }

 .name-heading {
     font-size: 48px;
     margin-bottom: 10px;
 }

 .wrap {
     font-size: 24px;
     color: white;
 }

 .visitor-count {
     position: absolute;
     top: 20px;
     right: 20px;
     color: white;
     font-size: 13px;
     font-weight: 150;
     z-index: 1000;
     text-align: right;
     text-transform: uppercase;
     letter-spacing: 3px;
 }