body {
  background-color: #121212 !important;
}

.section-title {
  font-size: 2rem;
  color: white !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.section-subtitle {
  font-weight: 100;
  color: white !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}